.team-informations {
  width: 100%;
  height: 100%;
  background-color: #4a4a4a;
  box-sizing: border-box;
  padding: 1rem;

  .no-data,
  .loading-data {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .alert {
      transform: scale(4);
    }

    .information {
      h1 {
        margin: 0;
      }

      p {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        .info-icon {
          color: #fff;
        }
      }
    }
  }

  .loaded-data {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;

    .fixtures {
      display: flex;
      gap: 3rem;
      justify-content: center;
      align-items: center;
      border-radius: 0.75em;
      background-color: #191919;
      padding: 10px;

      .lineups {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
          margin: 0;
          color: #fff;
        }

        .team-lineups {
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
          align-items: center;
          justify-content: center;
        }
      }

      .team-card {
        background: none;
        border: none;
        box-shadow: none;

        .team-header {
          padding: 0;

          .team-name {
            margin-top: 1.5rem;
            color: #fff;
          }
        }
      }

      .lineup-card {
        width: 300px;
        padding: 8px;

        .lineup-header {
          padding: 0;
        }
      }
    }

    .statistics {
      height: 100%;
      padding: 0 2rem 0 1rem;
      display: flex;
      gap: 1rem;

      .players {
        width: 20%;
        min-width: 300px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
        overflow: scroll;
        border-radius: 0.75em;
        background-color: #191919;
        max-height: 700px;
        padding: 0.5rem 1rem;

        h3 {
          margin: 0;
          color: #fff;
        }

        .player-card {
          width: 320px;
          padding: 8px 8px 8px 8px;

          .header {
            padding: 0;

            .title {
              color: #fff;
            }
          }
        }
      }

      .team-statistics {
        width: 80%;
        border-radius: 0.75em;
        height: 100%;
        padding: 0 1rem 0 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .table {
          display: flex;
          width: 100%;
          background-color: #191919;
          border-radius: 0.75em;
          padding: 1rem;
        }

        .graphs-section {
          display: flex;
          gap: 1rem;
          justify-content: center;
          align-items: center;

          .graph {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.data-not-found {
  display: flex;
  gap: 1rem;
  font-size: 14px;
  color: #fff;
}
